<% unless @blogs.empty? %>
    <li id="blogs-menu"><a href="#">Blogs</a>
      <ul>
          <% @blogs.each do |blog| %>
            <li><%= link_to blog.name, blog.url, class: "blog-#{blog.status.name}", target: "_blank" %></li>
          <% end %>
      </ul>
    </li>
<% end %>