<li>
  <h3 class="news-title"><%= news.title %><span> <%= timeago_tag news.created_at, nojs: true, limit: 15.days.ago %></span></h3>
  <% if news.image? %>
      <%= image_tag news.image.url(:large) %>
  <% end %>
  <p class="news-content"><%= news.content.html_safe %></p>
  <div class="horizontal-line"></div>
</li>