// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

// Import jPicker CSS
@import "jPicker";

body.active_admin {
  .has_many {
    padding: 0 10px;

    h3 {
      display: none;
    }
  }

  .has_many_fields.inputs {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-bottom: 1px solid #ddd;
  }

  #main_content {
    .actions {
      clear: both;
    }
  }

  .left {
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }

  .right {
    float: right;
    width: 49%;
    margin-left: 1%;
    margin-bottom: 20px;
  }

  #main_content form fieldset > ol > li.boolean label {
    width: 84%;
  }

  #main_content .informations .has_many_fields li:not(:first-child), #main_content .links .has_many_fields li:not(:first-child) {
    display: none;
  }

  #main_content .images .has_many_fields li:not(.file) {
    display: none;
  }

  p.inline-hints {
    margin-left: 0 !important;
  }
}